﻿
@{
    ViewBag.Title = "Confirmation";
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<h2>Registration Done!</h2>

<div class="login">

    <h4> Congratulations!</h4>
    <p>Your profile has successfully been created. Press the button below to continue.</p>
</div>

<a class="btn btn-primary btn-lg" href="~/Delivery/Index" style="Display: inline-block;">Log in &raquo;</a>