﻿
@{
    ViewBag.Title = "Register";
}
    <link rel="stylesheet" type="text/css" href="~/Content/RegisterTables.css">

<div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <div style="padding: 8px">
        <label for="titles">Title:</label> <br />

        <select name="titles" id="titles">
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Ms">Ms</option>
            <option value="Dr">Dr</option>
            <option value="Other">Other</option>
        </select> <br />
    </div>
    
    <table>
        <tr>
            <td>
                <label for="fName"><b>*First Name:</b></label> <br />
                <input type="text" placeholder="Enter First Name" name="fName" required>
            </td>
            <td>
                <label for="sName"><b>*Surname:</b></label> <br />
                <input type="text" placeholder="Enter Surname" name="sName" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="email"><b>*Email:</b></label> <br />
                <input type="text" placeholder="Enter Email" name="email" required>
            </td>
            <td>
                <label for="cemail"><b>*Confirm Email:</b></label> <br />
                <input type="text" placeholder="Confirm Email" name="cemail" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="mobile"><b>*Mobile:</b></label> <br />
                <input type="text" placeholder="Enter Mobile Number" name="mobile" required>
            </td>
            <td>
                <label for="landline"><b>Landline:</b></label> <br />
                <input type="text" placeholder="Enter Landline Number" name="landline">
            </td>
        </tr>
        <tr>
            <td>
                <label for="psw"><b>*Password:</b></label><br />
                <input type="password" placeholder="Enter Password" name="psw" required>
            </td>
            <td>
                <label for="psw-repeat"><b>*Repeat Password:</b></label><br />
                <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
            </td>
        </tr>
    </table>












    <label style="padding: 8px">
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    <div class="signupbutton">
        <a class="btn btn-primary btn-lg" href="~/Register/Confirmation" style="Display: inline-block;">Register Profile</a></p>
        <a class="btn btn-primary btn-lg" href="~/Login/Index" style="Display: inline-block;">Cancel</a></p>

    </div>
</div>
</form>

