﻿
@{
    ViewBag.Title = "Checkout";
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<h2>Payment Made!</h2>

<div class="login">

    <h4> Congratulations!</h4>
    <p>Your payment was successful. Press the button below to view your receipt.</p>
</div>

<a class="btn btn-primary btn-lg" href="Receipt" style="Display: inline-block;">View Receipt &raquo;</a>
