﻿
@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>
<link rel="stylesheet" type="text/css" href="~/Content/payment.css">


    <div class="col-75">
        <div class="container">
            <form action="/action_page.php">

                <div class="row">
                    <div class="col-50">
                        <h3>Billing Address</h3>
                        <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                        <input type="text" id="fname" name="firstname" placeholder="Yuri Tart">
                        <label for="email"><i class="fa fa-envelope"></i> Email</label>
                        <input type="text" id="email" name="email" placeholder="iamnot@funny.com">
                        <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                        <input type="text" id="adr" name="address" placeholder="614 Humble Avenue">
                        <label for="city"><i class="fa fa-institution"></i> City</label>
                        <input type="text" id="province" name="Province" placeholder="Gauteng">

                        <div class="row">
                            <div class="col-50">
                                <label for="Province">Town/City</label>
                                <input type="text" id="town/city" name="Town/City" placeholder="Johannesburg">

                                <label for="zip">Zip</label>
                                <input type="text" id="zip" name="zip" placeholder="10001">
                            </div>
                        </div>
                    </div>

                    <div class="col-50">
                        <h3>Payment</h3>
                        <label for="fname">Accepted Cards</label>
                        <div class="icon-container">
                            <img src="https://imgur.com/ms5YIiu.png" alt="Visa" style="width: 69px; height: 40px">
                            <img src="https://imgur.com/rX76RYq.png" alt="MasterCard" style="width: 69px; height: 40px">
                            <img src="https://imgur.com/orSQ946.png" alt="American Express" style="width: 69px; height: 40px">
                        </div>
                        <label for="cname">Name on Card</label>
                        <input type="text" id="cname" name="cardname" placeholder="Yuri Tart">
                        <label for="ccnum">Credit card number</label>
                        <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                        <label for="expmonth">Exp Month</label>
                        <input type="text" id="expmonth" name="expmonth" placeholder="April">

                        <div class="row">
                            <div class="col-50">
                                <label for="expyear">Exp Year</label>
                                <input type="text" id="expyear" name="expyear" placeholder="2023">

                                <label for="cvv">CVV</label>
                                <input type="text" id="cvv" name="cvv" placeholder="666">
                            </div>
                        </div>
                    </div>

                </div>

                
                <a class="btn btn-primary btn-lg" href="checkout" style="Display: inline-block;">Proceed to Checkout&raquo;</a>
            </form>
        </div>
    </div>
   