﻿
@{
    ViewBag.Title = "Donation Receipt";
}

<h2>Donation Receipt</h2>
<h3>Donation Number: #00001</h3>
<link rel="stylesheet" type="text/css" href="~/Content/Donation.css">

<table>
    <tr>
        <th>Category</th>
        <th>Name of Item</th>
        <th>Quantity</th>
    </tr>
    <tr>
        <td>Food</td>
        <td>Apple</td>
        <td>12</td>
    </tr>
    <tr>
        <td>Clothing</td>
        <td>Jacket</td>
        <td>5</td>
    </tr>
    <tr>
        <td>Furniture</td>
        <td>Table</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Dishes and Cutlery</td>
        <td>Spoon</td>
        <td>10</td>
    </tr>
    <tr>
        <td>Appliances</td>
        <td>Toaster</td>
        <td>1</td>
    </tr>
    <tr>
        <td>IT Training</td>
        <td>IT Training</td>
        <td>1</td>
    </tr>
</table>
<h4>Thank you for your support!</h4>
<a class="btn btn-primary btn-lg" href="~/Home/Index" style="Display: inline-block;">Home &raquo;</a>