﻿.div1 {
    width: 250px;
    height: 150px;
    border: 1px solid blue;
    box-sizing: border-box;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    padding: 800px;
    word-wrap: break-word;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 300px;
}
    
.btn{
    display: inline-block;
}
