﻿.login {
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 50px;
    background: #EEEEEE;
    border-radius: 15px;
}

h2 {
    text-align: center
}
#Uname {
    width: 300px;
    height: 30px;
    border: groove;
    border-radius: 3px;
    padding-left: 8px;
}

table, td {
    border: 1px solid black !important;
}

#success {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px; 
    margin-left: -100px; 
}

#Pass {
    width: 300px;
    height: 30px;
    border: groove;
    border-radius: 3px;
    padding-left: 8px;
}

#log {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    background: #f1f1f1;
}
titles {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    background: #f1f1f1;
}
