﻿
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<h2>Login to your profile.</h2>

@{
    ViewBag.Title = "Index";
}

<body>
    <div class="login">
        <form id="login" method="get" action="login.php">
            <label>
                <b>  Email Address: </b>
            </label>
                <input type="text" name="Uname" id="Uname" placeholder="Email">
            <label>
                <b> Password:</b>
            </label>
                <input type="Password" name="Pass" id="Pass" placeholder="Password">           
            <input type="checkbox" id="check">
            <span>Remember me</span>
            <br />
             <a class="btn btn-primary" href="~/Delivery/Index">Log in &raquo;</a></p>
            <a href="#">Forgot Password?</a>
        </form>
    </div>
</body>
<br />
<p> Don't have one? Click the Register button below to create a profile.</p>
<a class="btn btn-primary btn-lg" href="~/Register/Index">Register Profile &raquo;</a></p>

