﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Furious Innovations!</h1>
    <p class="lead">
        At Donation of Hope we aim to lighten your burden and easing the burden of others by collecting old wearable clothing and shoes to donate to the less fortunate, as well as food collection.
        Our centers  are easy to locate to drop off your access baggage that will cloth and feed someone else and put a smile of gratitude on their hungry faces. The clothing packages are separated and prepared in sizes and seasons to distribute appropriately by our enthusiastic volunteers.
        We also aim to educate the less fortunate to brighten their futures by sponsoring basic IT courses, and would appreciate sponsorship towards this endeavor.
    </p>
    <p>
        Feel free to contact us <br />


        Call on: 017 786 0985 <br />


        email us at: donationsofhopesdg@tuks.com <br />
    </p>
    <p>
        Aim to Gain… The gratitude of one in pain!
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="https://i.imgur.com/wkodEre.jpg" alt="Furious Five Logo">
    </div>
    <div class="col-md-4">
        <div>
            <div>

            </div>
            <p><a class="btn btn-primary btn-lg" href="~/Login/Index" style="margin-top: 50px; padding: 50px 100px;">Donate now! &raquo;</a></p>
        </div>


    </div>
</div>
