﻿
@{
    ViewBag.Title = "Select Delivery Address";
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<h2>Select Delivery Address</h2>

<div class="login">
    <h4><b>Success! Item Upload Complete</b></h4><br />
    <p> Please select an address. To add a new address, please press the Map button.</p>
    <label for="address"><b>Select Delivery Address:</b></label>
    <br />
    <select name="address" id="address">
        <option value="Farenden St, Eastwood, Pretoria, 0001">Farenden St, Eastwood, Pretoria, 0001</option>
    </select>
</div>
<a class="btn btn-primary btn-lg" href="~/Delivery/Index" style="Display: inline-block;">&laquo; Map </a>
<a class="btn btn-primary btn-lg" href="~/Payment/index" style="Display: inline-block;">Next &raquo;</a>

