﻿
@{
    ViewBag.Title = "Index";
}

<h2>Donation Address:</h2>
<img src="https://i.imgur.com/cvAMBmT.png" alt="Donation Map" style="width: 100%; height: 100%";>
<br />
<br />
<table style="width:100%">
    <tr>
        <td>
            <label for="address"><b>Address:</b></label>
            <input type="text" placeholder="Address" name="address">
        </td>
        <td>
            <label for="town"><b>City/Town:</b></label>
            <input type="text" placeholder="City/Town name" name="town">
        </td>
        <td>
            <label for="postalcode"><b>Postal Code:</b></label>
            <input type="text" placeholder="Postal Code" name="postal">
        </td>
        <td>
            <label for="province"><b>Province:</b></label>
            <input type="text" placeholder="Province name" name="province">
        </td>
    </tr>
</table>
<br />
<table>
    <tr>
        <td>
            
            <a class="btn btn-primary btn-lg" href="~/Home/Index" style="Display: inline-block;">&laquo; Back</a>

        </td>
        <td>
            <a class="btn btn-primary btn-lg"href="~/Donation/Index" style="Display: inline-block;">Next &raquo;</a>
        </td>
            
        
    </tr>
</table>
