﻿
@{
    ViewBag.Title = "Donation Cart";
}

<h2>Donation Cart</h2>
<link rel="stylesheet" type="text/css" href="~/Content/Donation.css">
<table>
    <tr>
        <th>Category</th>
        <th>Item</th>
        <th>Name of Item</th>
        <th>Quantity</th>
    </tr>
    <tr>
        <td>Food</td>
        <td><img src="https://i.imgur.com/6UEHuYt.jpg" alt="Food" style="width: 70px; height: 70px"></td>
        <td>Apples</td>
        <td>12</td>
    </tr>
    <tr>
        <td>Clothing</td>
        <td><img src="https://i.imgur.com/opmWHrm.png" alt="Clothing" style="width: 70px; height: 70px"></td>
        <td>Jacket</td>
        <td>5</td>
    </tr>
    <tr>
        <td>Furniture</td>
        <td><img src="https://i.imgur.com/lApuhpe.jpg" alt="Furniture" style="width: 70px; height: 70px"></td>
        <td>Table</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Dishes and Cutlery</td>
        <td><img src="https://imgur.com/J8AYs55.jpg" alt="Dishes & Cutlery" style="width: 70px; height: 70px"></td>
        <td>Spoon</td>
        <td>10</td>
    </tr>
    <tr>
        <td>Appliances</td>
        <td><img src="https://i.imgur.com/QDjftPd.jpg" alt="Appliances" style="width: 70px; height: 70px"></td>
        <td>Toaster</td>
        <td>1</td>
    </tr>
    <tr>
        <td>IT Training</td>
        <td><img src="https://i.imgur.com/fG3Q7VD.jpg" alt="IT Training" style="width: 70px; height: 70px"></td>
        <td>IT Training</td>
        <td>1</td>
    </tr>
</table>
<br />
<a class="btn btn-primary btn-lg" href="Index" style="Display: inline-block;">&laquo; Back</a>
<a class="btn btn-primary btn-lg" href="~/Delivery/Address" style="Display: inline-block;">Next &raquo;</a>



