﻿
@{
    ViewBag.Title = "Donation";
}

<h2>Donation</h2>
<link rel="stylesheet" type="text/css" href="~/Content/ItemsTables.css">

<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td>

                        <img src="https://i.imgur.com/6UEHuYt.jpg" alt="Food" style="width: 70px; height: 70px">
                        <p style="padding-left:17px"> Food</p>
                    </td>
                    <td>
                        <label for="item1"><b>Name of Item:</b></label> <br />
                        <input type="text" placeholder="Name" name="item1" required> <br />
                        <label for="quantity1"><b>Quantity:</b></label> <br />
                        <input type="number" placeholder="Quantity" name="quantity1" required>
                    </td>              
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>

                        <img src="https://i.imgur.com/opmWHrm.png" alt="Clothing" style="width: 70px; height: 70px">
                        <p style="padding-left:17px"> Clothing</p>
                    </td>
                    <td>
                        <label for="item1"><b>Name of Item:</b></label> <br />
                        <input type="text" placeholder="Name" name="item1" required> <br />
                        <label for="quantity1"><b>Quantity:</b></label> <br />
                        <input type="number" placeholder="Quantity" name="quantity1" required>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>

                        <img src="https://i.imgur.com/lApuhpe.jpg" alt="Furniture" style="width: 70px; height: 70px">
                        <p style="padding-left:17px"> Furniture</p>
                    </td>
                    <td>
                        <label for="item1"><b>Name of Item:</b></label> <br />
                        <input type="text" placeholder="Name" name="item1" required> <br />
                        <label for="quantity1"><b>Quantity:</b></label> <br />
                        <input type="number" placeholder="Quantity" name="quantity1" required>
                    </td>

                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>

                        <img src="https://imgur.com/J8AYs55.jpg" alt="Dishes & Cutlery" style="width: 70px; height: 70px">
                        <p style="padding-left:17px"> Dishes & Cutlery</p>
                    </td>
                    <td>
                        <label for="item1"><b>Name of Item:</b></label> <br />
                        <input type="text" placeholder="Name" name="item1" required> <br />
                        <label for="quantity1"><b>Quantity:</b></label> <br />
                        <input type="number" placeholder="Quantity" name="quantity1" required>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>

                        <img src="https://i.imgur.com/QDjftPd.jpg" alt="Appliances" style="width: 70px; height: 70px">
                        <p style="padding-left:17px"> Appliances</p>
                    </td>
                    <td>
                        <label for="item1"><b>Name of Item:</b></label> <br />
                        <input type="text" placeholder="Name" name="item1" required> <br />
                        <label for="quantity1"><b>Quantity:</b></label> <br />
                        <input type="number" placeholder="Quantity" name="quantity1" required>
                    </td>

                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>

                        <img src="https://i.imgur.com/ZaLJCXI.jpg" alt="Shoes" style="width: 70px; height: 70px">
                        <p style="padding-left:17px"> Shoes</p>
                    </td>
                    <td>
                        <label for="item1"><b>Name of Item:</b></label> <br />
                        <input type="text" placeholder="Name" name="item1" required> <br />
                        <label for="quantity1"><b>Quantity:</b></label> <br />
                        <input type="number" placeholder="Quantity" name="quantity1" required>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>

                        <img src="https://i.imgur.com/B4T3K3a.jpg" alt="Electronic Devices" style="width: 70px; height: 70px">
                        <p style="padding-left:17px"> Electronic Devices</p>
                    </td>
                    <td>
                        <label for="item1"><b>Name of Item:</b></label> <br />
                        <input type="text" placeholder="Name" name="item1" required> <br />
                        <label for="quantity1"><b>Quantity:</b></label> <br />
                        <input type="number" placeholder="Quantity" name="quantity1" required>
                    </td>

                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>

                        <img src="https://i.imgur.com/mb36D4U.jpg" alt="Toys" style="width: 70px; height: 70px">
                        <p style="padding-left:17px"> Toys</p>
                    </td>
                    <td>
                        <label for="item1"><b>Name of Item:</b></label> <br />
                        <input type="text" placeholder="Name" name="item1" required> <br />
                        <label for="quantity1"><b>Quantity:</b></label> <br />
                        <input type="number" placeholder="Quantity" name="quantity1" required>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>

                        <img src="https://i.imgur.com/fG3Q7VD.jpg" alt="IT Training" style="width: 70px; height: 70px">
                        <p style="padding-left:17px"> IT Training</p>
                    </td>
                    <td>
                        <label for="price"><b>Price: R1000</b></label> <br />
                        <label for="quantity1"><b>Quantity:</b></label> <br />
                        <input type="number" placeholder="Quantity" name="quantity1" required>
                    </td>

                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        <h3> IT Training Description</h3>
                        <p>
                            This package is very important, especailly for unemoloyed

                            individuals who lack computer skills.

                            With this package we do basic training to get an individual

                            computer literate and hopefully help them to get

                            employment. </p>
                    </td>                
                </tr>
            </table>
        </td>
    </tr>
</table>

<br />

        <a class="btn btn-primary btn-lg" href="Cart">Donation Cart</a></p>
        <a class="btn btn-primary btn-lg" href="~/Delivery/Index">Back</a></p>
 